<div class='account'>
    <h3>What is your Hero's name?</h3>
    <%= form_with model: @hero do |f| %>
        <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>
