<main>
<div class='sale_form'>
<%= form_with model: @item do |f| %>
    <div class="d-flex flex-column align-items-center">
    <h5>How much gold would you like to sell this item for?</h5>
    <p><%= f.text_field :price %></p>
    <p><%= f.submit %></p>
    </div>
<% end %>
</div>
<%= link_to "<< Back", root_path %>
</main>
