/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

#header {
    background-image: url(asset_path('header.jpg'));
    background-size: cover;
    background-position: 0%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 250%;
        font-weight: bold;
        color: orangered;
        text-shadow: 1px 1px 2px black;
    }
}

#topnav {
    display: flex;
    justify-content: space-evenly;
}

#char_stats {
    display: flex;
    justify-content: space-between;
    margin: 5px 10%;
}

#messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    ;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 5px 10px;
    }
    p {
        display: flex;
        align-self: center;
        flex-direction: column;
    }
}

.field {
    margin-bottom: 10px ;
}

.sale_form {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 360px) {
    * {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 960px) {
    * {
        font-size: 1.2rem;
    }
}
