// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    justify-content: space-between;
}

#inventory_table {
    margin-bottom: 0px;
}

#weapons_table {
    margin-bottom: 0px;
}

#items_table {
    margin-bottom: 0px;
}

.inventory_scrollbar {
    border: 1px solid grey;
    position: relative;
    height: fit-content;
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 1rem;
}

.shop_scrollbar {
    border: 1px solid grey;
    position: relative;
    height: fit-content;
    max-height: 600px;
    overflow: scroll;
    margin-bottom: 1rem;
}