// Place all the styles related to the Weapons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    display: flex;
    justify-content: center;
    .col-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
