<div class='header'>
    <% if @page_name == nil %>
        <h1>TradeQuest</h1>
    <% else %>
        <h1><%= "#{@page_name}" %></h1>
    <% end %>
</div>
<% unless @top_link == nil %>
    <nav class='topnav'>
        <p><%= link_to "#{@top_link}", @link_path %></p>
        <p><%= "#{current_user.hero.name} | #{current_user.hero.renown} Renown" %></p>
        <p><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></p>
    </nav>
<% end %>